@import '../../styles/variables';

.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url('../../public/img/reg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, $overlay-color, $overlay-color);
  z-index: 1;
}

.form {
  padding: 40px;
  z-index: 2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.form:hover,
.form:focus,
.form:active {
  transform: scale(1.2);
}

.link {
  color: $font-primary-color;
}

.please {
  z-index: 2;
  font-size: 30px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
