// styles/_variables.scss

// Кольори
$primary-color: #000000;
$secondary-color: #2c2c2c;
$font-primary-color: #ffffff;
$font-secondary-color: #8C8C8C;
$font-hoover-color: #a15800;
$overlay-color: #32211887;
$overlay-playlist: #1b1b2787;

// Шрифти
$font-family-base: 'Poppins', sans-serif;
$font-family-heading: 'Oswald', sans-serif;

// Розміри
$base-font-size: 18px;
$heading-font-size: 2rem;
$btn-font-size: 1.1rem;


// Відступи
$base-spacing: 1.2rem;
