// styles/_variables.scss

// Кольори
$primary-color: #000000;
$secondary-color: #2c2c2c;
$font-primary-color: #ffffff;
$font-secondary-color: #8C8C8C;
$font-hoover-color: #a15800;

// Шрифти
$font-family-base: 'Poppins', sans-serif;
$font-family-heading: 'Oswald', sans-serif;

// Розміри
$base-font-size: 16px;
$heading-font-size: 2rem;

// Відступи
$base-spacing: 1.2rem;
