@import '../../styles/variables';

.container {
  padding: 20px;
  margin-bottom: 10vh;
  width: 100vw;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.title {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 4vh;
  opacity: 1; // Початкова прозорість
  // animation: pulse 400ms infinite 200ms; // Додавання анімацій
  // @keyframes pulse {
  //   0% {
  //     transform: scale(1);
  //   }
  //   50% {
  //     transform: scale(1.03);
  //   }
  //   100% {
  //     transform: scale(1);
  //   }
  // }
}

.listContainer {
  width: 30vw; /* Змініть ширину за потреби */
  max-height: 60vw; /* Змініть висоту за потреби */
  background-color: $secondary-color;
  padding: 15px;
  overflow: scroll;

  @media screen and (max-width: 768px) {
    width: 80vw;
    max-height: 40vh
  }
}

.imgWrapper {
  position: relative;
  width: 40vw; /* Змініть ширину за потреби */
  height: 24vw; /* Змініть висоту за потреби */
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 80vw;
    height: 60vw;
  }
}

.img {
  display: block;
  background-color: rgb(213, 138, 163);
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease;
}

.imgWrapper:hover .img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlay-color;
 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 250ms ease;
  text-align: center;
  

  @media screen and (max-width: 1199px) {
    padding: 14px;
  font-size: $base-font-size;
  }
}

.imgWrapper:hover .overlay {
  opacity: 1;
}

.description {
  color: $font-primary-color;
  font-size: $base-font-size;
  font-weight: 100;
  z-index: 200;
  padding: 40px; /* Змініть значення за потреби */

  @media screen and (max-width: 1199px) {
    padding: 14px;
    font-size: $base-font-size;
  }
}

.playerContainer {
  padding: 0;
  display: block;
  width: 40vw;
  height: auto;
  // background-color: rgb(249, 205, 144);
}

.list {
  list-style: decimal;
  font-weight: 200;
}

.item {
  font-size: 16px;
  padding: 4px;
  color: $font-primary-color;

  @media screen and (min-width: 1199px) {
    line-height: 2rem;
  }
}

.ImgPlay {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}