@import '../../styles/variables';

.header {
  background-color: $secondary-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.welcome {
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  cursor: pointer;
  color: inherit;
}

.link:hover {
  color: $font-hoover-color;
}