@import '../../styles/variables';

.header {
  background-color: $secondary-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 15px;

  @media screen and (max-width: 760px) {
    padding: 8px;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.welcome {
  @media screen and (max-width: 760px) {
    font-size: 0.8rem;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 2.2rem;
}

.link {
  cursor: pointer;
  color: inherit;
  padding: 6px;

  @media screen and (max-width: 760px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1199px) {
    font-size: $heading-font-size;
  }
}

.link:hover {
  color: $font-hoover-color;
}


// Header.module.scss

.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  font-size: 12px;
  visibility: hidden;
  width: 120px;
  background-color: $secondary-color;
  color: $font-primary-color;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -60%; /* позиція підказки зверху */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
}
