@import '../../styles/variables';

.button {
  padding: 10px 20px;
  background-color: $secondary-color;
  color: inherit;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 4px;
  margin-bottom: 10px;
  transition: background-color 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover {
  background-color: $font-hoover-color;
}